front-end/Roost/node_modules/
~/src/RoostApp/obj/*
~/.vs/config/applicationhost.config
~/RoostApp.sln
~/global.json
~/Roost/project.lock.json
~/Roost/bin/Debug/netcoreapp1.1/
~/Roost/obj/Debug/netcoreapp1.1/
